language: python
sudo: required
dist: bionic

env:
  global:
  - NEKRS_HOME=/home/travis/.local/nekrs
  - NEKRS_EXAMPLES=$NEKRS_HOME/examples
  - PATH=$NEKRS_HOME/bin:$PATH
  - OCCA_CACHE_DIR=$HOME/.local/nekrs/occa_cache
  - OCCA_CUDA_ENABLED=0
  - OCCA_HIP_ENABLED=0
  - OCCA_OPENCL_ENABLED=0

cache:
  directories:
    - $HOME/.local/nekrs

sudo: required

stages:
  - prepare
  - warmup
  - test

jobs:
  include:
   - stage: prepare
     name: "install"
     script: rm -rf $NEKRS_HOME && cd $TRAVIS_BUILD_DIR && ./makenrs 
   - stage: warmup
     name: "warm-up"
     script: cd $NEKRS_EXAMPLES/ethier && rm -rf .cache && nrspre ethier 1  
   - stage: test
     name: "ethier default"
     script: cd $NEKRS_EXAMPLES/ethier && nrsmpi ethier 2 1 
   - stage: test
     name: "ethier subcycle"
     script: cd $NEKRS_EXAMPLES/ethier && nrsmpi ethier 2 2 
   - stage: test
     name: "lowMach default"
     script: cd $NEKRS_EXAMPLES/lowMach && nrsmpi lowMach 2 1 
   - stage: test
     name: "conj_ht"
     script: cd $NEKRS_EXAMPLES/conj_ht && nrsmpi conj_ht 2 1


before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y libmpich-dev mpich

install:

before_cache:
  - cd $NEKRS_EXAMPLES && find -name ".cache" -exec rm -rf {} \;
