[FORMAT]
1.0

[BENCHMARK]
SOLVE

[DATA FILE]
#data /ellipticSine3D.h
data / ellipticBlockSine3D.h
#data /ellipticHomogeneous3D.h

[BOX DOMAIN]
#TRUE
FALSE

[BOX NX]
2

[BOX NY]
2

[BOX NZ]
2

[BOX XMIN]
0.0
[BOX XMAX]
1.0

[BOX YMIN]
0.0
[BOX YMAX]
1.0

[BOX ZMIN]
0.0
[BOX ZMAX]
1.0

[MESH FILE]
#cubeHex .msh
cubeHexCoarse.msh

[MESH DIMENSION]
3

[ELEMENT TYPE]
12

[POLYNOMIAL DEGREE]
7

[ELEMENT MAP]
ISOPARAMETRIC

[ELLIPTIC INTEGRATION]
NODAL

[THREAD MODEL]
SERIAL
#CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[LAMBDA]
1

[COEFFICIENT]
#CONSTANT
VARIABLE

[NUMBER OF VECTOR FIELDS]
2

[LAMBDA0]
1

[LAMBDA1]
1

[LAMBDA2]
1

# can add FLEXIBLE to PCG
# can add NONBLOCKING (disable FLEXIBLE for the moment)
[KRYLOV SOLVER]
PCG
#PCG +FLEXIBLE+NONBLOCKING
#+ NONBLOCKING+FLEXIBLE
#+ FLEXIBLE
#+ FLEXIBLE+NONBLOCKING

[SOLVER TOLERANCE]
1.e-9

# can be IPDG, or CONTINUOUS
[DISCRETIZATION]
CONTINUOUS

# can be NODAL or BERN
[BASIS]
NODAL

# can be NONE, JACOBI, MASSMATRIX, FULLALMOND, SEMFEM, MULTIGRID, or OAS
# OAS does not currently work with NONBLOCKING PCG
[PRECONDITIONER]
#NONE
JACOBI
#OAS
#MULTIGRID
#SEMFEM
#FULLALMOND

[MULTIGRID VARIABLE COEFFICIENT]
FALSE

## ## ## ## ## MULTIGRID Options ## ## ## ## ## ## ##

# can be ALLDEGREES, HALFDEGREES, HALFDOFS
[MULTIGRID COARSENING]
#ALLDEGREES
HALFDEGREES
#HALFDOFS

# can be LOCALPATCH, or DAMPEDJACOBI
# LOCALPATCH smoother can include EXACT
# can include CHEBYSHEV for smoother acceleration
[MULTIGRID SMOOTHER]
DAMPEDJACOBI + CHEBYSHEV

# can be any integer >0
[MULTIGRID CHEBYSHEV DEGREE]
2

## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## #

## ## ## ## ## ParAlmond Options ## ## ## ## ## ## ##

# can be KCYCLE, or VCYCLE
# can add the EXACT and NONSYM option
[PARALMOND CYCLE]
KCYCLE
#EXACT

# can be DAMPEDJACOBI or CHEBYSHEV
[PARALMOND SMOOTHER]
CHEBYSHEV + DAMPEDJACOBI

# can be any integer >0
[PARALMOND CHEBYSHEV DEGREE]
1

# can be STRONGNODES, DISTRIBUTED, SATURATE
[PARALMOND PARTITION]
STRONGNODES

# can be DEFAULT or LPSCN
[PARALMOND AGGREGATION STRATEGY]
DEFAULT
#LPSCN

# can be MAX, MIN, or NONE
[PARALMOND LPSCN ORDERING]
MAX
#MIN

## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## #

[RESTART FROM FILE]
0

[OUTPUT FILE NAME]
cavity

[VERBOSE]
TRUE

# set to 0 (zero) to disable reductions
[DEBUG ENABLE REDUCTIONS]
1

# set to 0 (zero) to disable gather-scatter
[DEBUG ENABLE OGS]
1

[MAXIMUM ITERATIONS]
500

[FIXED ITERATION COUNT]
FALSE

[USE PRECOMPILED BINARIES]
FALSE

[PARALMOND SMOOTH COARSEST]
FALSE
