[FORMAT]
1.0

[BENCHMARK]
SOLVE
#NONE
#BP5

[BOX DOMAIN]
FALSE

[DATA FILE]
data/ellipticHomogeneous2D.h

[MESH FILE]
../../meshes/cavityH00125.msh

[MESH DIMENSION]
2

[ELEMENT TYPE] # number of edges
3

[POLYNOMIAL DEGREE]
6

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[LAMBDA]
0

# can add FLEXIBLE to PCG
[KRYLOV SOLVER]
PCG+FLEXIBLE

# can be IPDG, or CONTINUOUS
[DISCRETIZATION]
CONTINUOUS

# can be NODAL or BERN
[BASIS]
NODAL

[ELLIPTIC INTEGRATION]
NODAL

# can be NONE, JACOBI, MASSMATRIX, FULLALMOND, SEMFEM, or MULTIGRID
[PRECONDITIONER]
MULTIGRID

[MAXIMUM ITERATIONS]
1000

[SOLVER TOLERANCE]
1e-8

[FIXED ITERATION COUNT]
FALSE

########## MULTIGRID Options ##############

# can be ALLDEGREES, HALFDEGREES, HALFDOFS
[MULTIGRID COARSENING]
HALFDOFS

# can be LOCALPATCH, or DAMPEDJACOBI
# LOCALPATCH smoother can include EXACT
# can include CHEBYSHEV for smoother acceleration
[MULTIGRID SMOOTHER]
DAMPEDJACOBI,CHEBYSHEV

# can be any integer >0
[MULTIGRID CHEBYSHEV DEGREE]
2

###########################################

########## ParAlmond Options ##############

# can be KCYCLE, or VCYCLE
# can add the EXACT and NONSYM option
[PARALMOND CYCLE]
KCYCLE

# can be DAMPEDJACOBI or CHEBYSHEV
[PARALMOND SMOOTHER]
CHEBYSHEV

# can be any integer >0
[PARALMOND CHEBYSHEV DEGREE]
2

# can be STRONGNODES, DISTRIBUTED, SATURATE
[PARALMOND PARTITION]
STRONGNODES

# can be DEFAULT or LPSCN
[PARALMOND AGGREGATION STRATEGY]
DEFAULT
#LPSCN

# can be MAX, MIN, or NONE
[PARALMOND LPSCN ORDERING]
MAX
#MIN

[PARALMOND SMOOTH COARSEST]
FALSE


###########################################

[RESTART FROM FILE]
0

[OUTPUT FILE NAME]
cavity

[VERBOSE]
TRUE

[DEBUG ENABLE OGS]
1

[DEBUG ENABLE REDUCTIONS]
1
